body{
background-image: url(4.webp);
}
h1,h2,h3{
  color: #FF66FF;
  font-family:'Comic Sans MS', cursive, sans-serif;

}
p{
  line-height: 150%;
}
p{
  font-family:'segoe print', cursive, sans-serif;
color: #FF95FF;
}

:root{
  scroll-behavior: smooth;
}

marquee{
color: #e0c5f1 ;
size:300;
}
